html { font-size: 62.5%; }

@media only screen and (width <= 1000px) {

  .card_3 .card__artwork,
  .card_5 .card__artwork {
    width: 42rem;
  }

  .card_2 .artwork__figure::before {
    top: -6rem;
    left: 6rem;
  }

  .card_4 .card__artwork {
    margin-right: -7rem;

    &__background {
      margin-left: 18rem;
    }
  }

  .card_5 {

    & .card__title {
      width: 80vw;
    }

    & .card__header {
      margin-bottom: 40rem;
    }
  }
}
