html { font-size: 62.5%; }

@media only screen and (width <= 460px) {

  .menu-button {
    top: 2rem;
    left: 2rem;
  }

  .card {

    &_mark .mark {
      margin: 0 -.5rem;
    }

    &__title {
      font-size: 5.4rem;
      line-height: 7.2rem;
    }

    &__paragraph {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
      text-align: left;
    }
  }

  .card_2 .card__column {
    margin-bottom: 0;
  }
}
