html { font-size: 62.5%; }

@media only screen and (width <= 520px) {

  .card_0 {
    height: auto;

    &__width-limit::before {
      height: 55rem;
    }

    & .card__header {
      position: static;
      margin-top: 50vh;
      height: auto;
    }
  }

  .card_2 {

    .card__artwork {
      width: 100vw;
    }

    & .artwork__figure {
      left: -6rem;

      &::before {
        height: 100%;
        left: -3rem;
      }
    }
  }
}
