html { font-size: 62.5%; }

@media only screen and (width < 624px) {

  .card_mark .card__title {
    margin-left: 0;
  }

  .music-player {
    display: none;
  }

  .card_0 .card__title {
    padding: 0;
  }

  .card {

    &_mark .mark {
      margin: 0 -.6rem;
    }

    &__title {
      font-size: 6.4rem;
      line-height: 8.6rem;
      margin-top: 5.5rem;
      margin-left: 0;
    }
  }
}
