html { font-size: 62.5%; }

@media only screen and (width <= 670px) {

  .card_text_left .card__text,
  .card_text_right .card__text {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .card {

    &__text {
      width: 90vw;
    }

    &__title {
      width: 95vw;
    }

    &__sub-title {
      font-size: 3.6rem;
    }
  }

  .card_3 .card__title {
    width: 95vw;
  }

  .card_6 .card__artwork {
    width: 95vw;
    margin-left: 5vw;
    margin-right: 0;
  }

  .toggle-br {
    display: none;
  }

  .card_0 .card__header {
    padding: 4rem 0 4rem 4rem;
  }
}
