html { font-size: 62.5%; }

@media only screen and (width <= 800px) {

  .card_0 {
    height: 126vw;
  }

  .card_3 .card__title,
  .card_5 .card__title {
    position: static;
  }

  .card_2 .card__header,
  .card_4 .card__header,
  .card_5 .card__header {
    margin-bottom: 0;
  }

  .card {

    &__header {
      margin-bottom: 0;
    }

    &__title {
      position: static;
      font-size: 7.2rem;
      line-height: 9.6rem;
    }
  }

  .card_5 .card__title {
    padding-right: 0;
    text-align: left;
  }

  .line-height-extra {
    line-height: inherit;
  }
}
