:root {
  --purple: #594662;
}

html { font-size: 62.5%; }

.card_2 {
  position: relative;

  & .card__artwork {
    position: absolute;
    right: 3rem;
    top: 0;
    height: 100vh;
  }

  & .artwork__figure,
  & .artwork__image {
    width: 58rem;
    height: 44rem;
  }

  & .artwork__image {
    position: relative;
    z-index: 2;
  }

  & .artwork__figure {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;

    &::before {
      content: '';
      display: block;
      width: 58rem;
      height: 44rem;
      position: absolute;
      left: -6rem;
      right: -6rem;
      top: 6rem;
      bottom: 6rem;
      background-color: var(--purple);
      z-index: 1;
    }
  }
}
