html { font-size: 62.5%; }

.card_3 {
  position: relative;
  z-index: 5000;

  & .card__text {
    margin-top: 36rem;
    position: relative;
  }

  & .card__title {
    width: 60rem;
    position: absolute;
    top: -36rem;
    right: 0;
  }

  & .card__artwork {
    width: 51.4rem;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url(./../../assets/img/berlin-map-blend.jpg);
    background-position: center center;
    background-size: cover;
  }
}
