html { font-size: 62.5%; }

.card_7 {

  & .card {

    &__text__column {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 4.4rem;
    }

    &__paragraph {
      width: 44rem;
      margin: 0 12rem 0 0;
    }
  }
}
