:root {
  --black: black;
  --grey: grey;
  --white: white;
  --beige: #e2e3c3;
  --blue: #084b87;
  --red: #ca4363;
  --purple: #594662;
  --orange: #ed624a;
  --yellow: #f6d532;
}

html { font-size: 62.5%; }

.music-player {
  z-index: 999998;
  position: fixed;
  top: 5rem;
  left: 12rem;
  height: 3.2rem;
  width: 46rem;
  background-color: var(--yellow);
  transition: .2s background-color;

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__controlls {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    margin-top: -.5rem;
    margin-left: -.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: .2s background-color;

    &__title {
      color: var(--white);
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2rem;
      font-weight: 800;
      line-height: 3.2rem;
      transition: .2s color;
    }

    &__icon {
      width: 2.6rem;
      height: 2.6rem;

      & rect,
      & polygon {
        transition: .2s fill;
        fill: white;
      }
    }
  }

  &_theme {

    &_hidden .music-player {
      opacity: 0;
    }

    &_yellow-red-black {

      & .music-player { background-color: var(--red); }

      & .music-player__controlls { background-color: var(--yellow); }

      & .music-player__controlls__title { color: var(--black); }

      & .music-player__controlls__icon {

        & rect,
        & polygon {
          fill: var(--black);
        }
      }
    }

    &_blue-yellow-white {

      & .music-player { background-color: var(--yellow); }

      & .music-player__controlls { background-color: var(--blue); }

      & .music-player__controlls__title { color: var(--white); }

      & .music-player__controlls__icon {

        & rect,
        & polygon {
          fill: var(--white);
        }
      }
    }

    &_orange-yellow-white {

      & .music-player { background-color: var(--yellow); }

      & .music-player__controlls { background-color: var(--orange); }

      & .music-player__controlls__title { color: var(--white); }

      & .music-player__controlls__icon {

        & rect,
        & polygon {
          fill: var(--white);
        }
      }
    }

    &_beige-orange-black {

      & .music-player { background-color: var(--orange); }

      & .music-player__controlls { background-color: var(--beige); }

      & .music-player__controlls__title { color: var(--black); }

      & .music-player__controlls__icon {

        & rect,
        & polygon {
          fill: var(--black);
        }
      }
    }
  }
}
