:root {
  --black: black;
  --grey: grey;
  --white: white;
  --beige: #e2e3c3;
  --blue: #084b87;
  --red: #ca4363;
  --purple: #594662;
  --orange: #ed624a;
  --yellow: #f6d532;
}

html { font-size: 62.5%; }

.progress-bar {
  height: .8rem;
  background-color: var(--beige);
  position: fixed;
  top: 1.6rem;
  left: 1rem;
  right: 1rem;
  border-radius: .4rem;
  z-index: 99999;
  transition: .2s background-color;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 10rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), transparent);
    z-index: -1;
  }

  &__progress {
    position: absolute;
    left: 0;
    top: 0;
    height: .8rem;
    border-radius: .4rem;
    background-color: var(--yellow);
  }

  &__label {
    opacity: 0;
    width: 27rem;
    height: 3.2rem;
    line-height: 3.2rem;
    padding: 0 2rem;
    background-color: var(--beige);
    margin-top: -.4rem;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transform: translateX(-45%);
  }

  &__bookmark {
    position: absolute;
    top: -.6rem;
    width: 2rem;
    height: 2rem;
    transform: translateX(-50%) scale(.8);
    border-radius: 1rem;
    background-color: var(--yellow);
    overflow: hidden;
    transition: .2s all;

    &:not(.small):hover,
    &.hover {
      z-index: 99999;
      overflow: visible;
      transform: translateX(-50%) scale(1);
      cursor: pointer;

      & .progress-bar__label {
        opacity: 1;
      }
    }

    &.small {
      width: .5rem;
      height: 2rem;
      top: -.6rem;
    }
  }

  &_theme {

    &_hidden .progress-bar {
      opacity: 0;
    }

    &_beige .progress-bar {

      &__progress,
      &__bookmark.passed { background-color: var(--beige); }
    }

    &_purple .progress-bar {

      &__progress,
      &__bookmark.passed { background-color: var(--purple); }
    }

    &_blue .progress-bar {

      &__progress,
      &__bookmark.passed { background-color: var(--blue); }
    }

    &_red .progress-bar {

      &__progress,
      &__bookmark.passed { background-color: var(--red); }
    }

    &_orange .progress-bar {

      &__progress,
      &__bookmark.passed { background-color: var(--orange); }
    }
  }
}
